extends ../templates/main

block variables
    - const title = 'Главная'
    - const description = 'Описание главной страницы'

block content

    .page
        header.page__header
            +Navbar()
        aside.page__aside
            +Aside()
        main.page__content
            .page__content-col
                +TaskList()
            .page__content-col
                +Content()


