mixin Navbar()

    .navbar
        .navbar__logo
            img(src="/assets/img/logo.svg")
        .navbar__content
            .profile
                .profile__img
                    img(src="/assets/img/profile.png")
                .profile__name
                    | Имя Фамилия
                .profile__action
                    button.btn.btn_primary.btn_sm Выход
