$br: 4px;
$br2: 8px;
$box-shadow: 0 2px 4px rgba(68, 68, 68, 0.1);
$animation-type: ease-in-out;
$animation-duration: .3s;
$transition: $animation-duration $animation-type;

// colors
$blue: #477ce6;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #d6151c;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #78c215;
$teal: #28d0d0;
$cyan: #265e63;
$white: #fff;
$gray: #6c757d;
$gray-dark: #383838;
$primary: #78c215;
$secondary: #444;
$success: #78c215;
$info: #265e63;
$warning: #ffc107;
$danger: #d6151c;
$light: #f8f9fa;
$dark: #383838;

