.task-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__items {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
  }
}

.task {
  padding: 16px;
  box-shadow: $box-shadow;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    font-weight: bold;
  }

  &__date {
    font-size: .7rem;
  }
}
